<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mybatis.mapper.ItemInfoMapper" >
  <resultMap id="BaseResultMap" type="com.itheima.mybatis.pojo.ItemInfo" >
    <id column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="EXAMPLE_URL" property="exampleUrl" jdbcType="VARCHAR" />
    <result column="ITEM_STATUS" property="itemStatus" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="FOUNDER_ID" property="founderId" jdbcType="VARCHAR" />
    <result column="MODIFIER_ID" property="modifierId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.itheima.mybatis.pojo.ItemInfo" extends="BaseResultMap" >
    <result column="EXAMPLE_DATA" property="exampleData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ITEM_ID, ITEM_NAME, EXAMPLE_URL, ITEM_STATUS, CREATE_TIME, MODIFY_TIME, FOUNDER_ID, 
    MODIFIER_ID
  </sql>
  <sql id="Blob_Column_List" >
    EXAMPLE_DATA
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawler_item_info
    where ITEM_ID = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from crawler_item_info
    where ITEM_ID = #{itemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.itheima.mybatis.pojo.ItemInfo" >
    insert into crawler_item_info (ITEM_ID, ITEM_NAME, EXAMPLE_URL, 
      ITEM_STATUS, CREATE_TIME, MODIFY_TIME, 
      FOUNDER_ID, MODIFIER_ID, EXAMPLE_DATA
      )
    values (#{itemId,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{exampleUrl,jdbcType=VARCHAR}, 
      #{itemStatus,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{founderId,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR}, #{exampleData,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.mybatis.pojo.ItemInfo" >
    insert into crawler_item_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="exampleUrl != null" >
        EXAMPLE_URL,
      </if>
      <if test="itemStatus != null" >
        ITEM_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="founderId != null" >
        FOUNDER_ID,
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID,
      </if>
      <if test="exampleData != null" >
        EXAMPLE_DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="exampleUrl != null" >
        #{exampleUrl,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null" >
        #{itemStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founderId != null" >
        #{founderId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="exampleData != null" >
        #{exampleData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.mybatis.pojo.ItemInfo" >
    update crawler_item_info
    <set >
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="exampleUrl != null" >
        EXAMPLE_URL = #{exampleUrl,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null" >
        ITEM_STATUS = #{itemStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founderId != null" >
        FOUNDER_ID = #{founderId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="exampleData != null" >
        EXAMPLE_DATA = #{exampleData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ITEM_ID = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.itheima.mybatis.pojo.ItemInfo" >
    update crawler_item_info
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      EXAMPLE_URL = #{exampleUrl,jdbcType=VARCHAR},
      ITEM_STATUS = #{itemStatus,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      FOUNDER_ID = #{founderId,jdbcType=VARCHAR},
      MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      EXAMPLE_DATA = #{exampleData,jdbcType=LONGVARCHAR}
    where ITEM_ID = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.mybatis.pojo.ItemInfo" >
    update crawler_item_info
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      EXAMPLE_URL = #{exampleUrl,jdbcType=VARCHAR},
      ITEM_STATUS = #{itemStatus,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      FOUNDER_ID = #{founderId,jdbcType=VARCHAR},
      MODIFIER_ID = #{modifierId,jdbcType=VARCHAR}
    where ITEM_ID = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>