<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fisher.mapper.DescribeMapper" >
  <resultMap id="BaseResultMap" type="com.fisher.pojo.Describe" >
    <id column="describe_id" property="describeId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fisher.pojo.Describe" extends="BaseResultMap" >
    <result column="describe_text" property="describeText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    describe_id
  </sql>
  <sql id="Blob_Column_List" >
    describe_text
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_describe
    where describe_id = #{describeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_describe
    where describe_id = #{describeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fisher.pojo.Describe" >
    insert into user_describe (describe_id, describe_text)
    values (#{describeId,jdbcType=INTEGER}, #{describeText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fisher.pojo.Describe" >
    insert into user_describe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="describeId != null" >
        describe_id,
      </if>
      <if test="describeText != null" >
        describe_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="describeId != null" >
        #{describeId,jdbcType=INTEGER},
      </if>
      <if test="describeText != null" >
        #{describeText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fisher.pojo.Describe" >
    update user_describe
    <set >
      <if test="describeText != null" >
        describe_text = #{describeText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where describe_id = #{describeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fisher.pojo.Describe" >
    update user_describe
    set describe_text = #{describeText,jdbcType=LONGVARCHAR}
    where describe_id = #{describeId,jdbcType=INTEGER}
  </update>
</mapper>